.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

.Title{
  text-decoration: underline; 
}

.Quote{
  font-style: italic;
  font-size: 20px;
  color: #61dafb;
  border: yellow 1px solid;
  padding: 1.2rem;
  border-radius: 25px;
}

.Author{
  font-style: italic;
  font-size: 20px;
  color: #61dafb;
  border: yellow 1px solid;
  padding: 1.2rem;
  border-radius: 25px;
}

.Generator{
  background-color: #282c34;
  color: white;
  border: #61dafb 0.5px solid;
  padding: 1.2rem;
  border-radius: 25px;
  font-size: 20px;
  margin-top: 1rem;
  font-weight: bold;
}

.Generator:hover{
  background-color: #61dafb;
  color: #282c34;
  border: #282c34 0.5px solid;
  pointer-events: fill;
  cursor: pointer;
}

.Footer{
  background-color: #282c34;
  color: white;
  padding: 0.3rem;
  font-size: 20px;
  margin-top: 1rem;
  font-weight: bold;
  margin-bottom: 0;
}
a:link, a:visited {
  color: white;
  text-decoration: underline;
}
a:hover, a:active {
  color: #61dafb;
  text-decoration: underline;
}

.React-logo{
  height: 20px;
  vertical-align: middle;
}
